/* Site Documentation Entity - full display */
.site-documentation--full {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;

}
.site-documentation--related {
  margin-top: 3rem;
}
@media screen and (min-width: 60em) {
  .site-documentation--content-wrap {
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: repeat(12,minmax(0,1fr));
  }
  .site-documentation--content {
    grid-column-start: 1;
    grid-column: span 7;
  }
  .site-documentation--related {
    margin-top: 0;
    grid-column-start: 7;
    grid-column: span 5;
  }
}

/* Related Documents - on Site Documentation full display */
.view-related-site-documents.view-display-id-block_1 .item-list ul {
  margin-left: 0;
}
.view-related-site-documents.view-display-id-block_1 .item-list ul li {
  margin-bottom: 1rem;
}

/* Site Documentation list*/
.view-related-site-documents.view-display-id-block_2 ul li {
  margin-bottom: 1rem;
}
@media screen and (min-width: 38em) {
  .view-related-site-documents.view-display-id-block_2 ul {
    list-style: none;
    margin-left: 0;
    display: grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
    grid-gap: 2rem 4rem;
  }
  .view-related-site-documents.view-display-id-block_2 li {
    grid-column: span 2;
  }
}
@media screen and (min-width: 60em) {
  .view-related-site-documents.view-display-id-block_2 li {
    grid-column: span 1;
  }
}
